import React from 'react';

const TodoList = ({ todolist }) => {
    return (
        <div>
            <h1>Todo List - Colorful Edition</h1>
            <ul>
                {todolist.map((todo, index) => (
                    <li key={index}>
                        <a href={`/todo/delete/${index}`} className="delete-btn">✘</a>
                        <a href={`/todo/${index}`} className="edit-btn">✎</a>
                        {todo}
                    </li>
                ))}
            </ul>

            <form action="/todo/add/" method="post">
                <label htmlFor="newtodo">What should I do?</label>
                <input type="text" name="newtodo" id="newtodo" autoFocus />
                <input type="submit" value="Add" />
            </form>
        </div>
    );
};

export default TodoList;


